.recoCardContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: column;
  min-width: 210px;
  max-width: 210px;
  height: 35vh;
  border: 1px solid #ecedf0;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
  background-color: #fff;
  text-decoration: none;
  outline: none;
  font-family: Open Sans,mm-main,arial,sans-serif;
letter-spacing: normal;
}

.imgContainer {
  height: 40%;
  width: 75%;

  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  overflow: hidden;
}

.shortTitle {
  color: #0c193a;
  width: 100%;
  max-width: 100%;
  height: 55px;
  line-height: 18.3333333333px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}
