.productCard {
  background-color: #fff;
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}
.productDesc {
  margin: 2vh;
  display: flex;
  justify-content: space-evenly;
}
.productText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}
.productText p {
  vertical-align: center;
}
.seller {
  margin-bottom: 0;
}
.productimg {
  height: 15vh;
  margin: 0 2vh;
}
.MmLogo {
  height: 15px;
}
.productprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productprice h2 {
  margin-right: 8vw;
}
.productOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.productOptions button {
  color: #505971;
  width: 40%;
  border: none;
  background-color: transparent;
}
.icon {
  width: 12px;
  margin-right: 5px;
}
.quantity {
 display: flex;
 align-items: center;
 border: 1px solid rgb(185, 185, 185);
 width: 30vw;
 height: 5vh;
 margin-left: 8vw;
}
.quantity button {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  margin: 1vh;
}
.quantityPlus {
  background-image: url('../../../public/assets/icon-plus.png');
  background-size: cover;
}
.quantityMinus {
  background-image: url('../../../public/assets/icon-minus.png');
  background-size: cover;
}
.quantityNumber {
  width: 18px;
  height: 18px;
  text-align: center;
  margin: auto;
}