.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.headerCo {
  background-image: url('../../../public/assets/header-co.jpg');
  height: 17.7vh;
  width: 100vw;
  background-size: contain;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
}
.headerDeco {
  background-image: url('../../../public/assets/header-deco.jpg');
  height: 17.7vh;
  width: 100vw;
  background-size: contain;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
}
.LArrow {
  height: 10px;
  width: 10px;
  background-image: url('../../../public/assets/arrow-left.png');
  background-size: cover;
  margin-right: 10px;
  margin-bottom: 0.5rem;
}
.continuer {
  display: flex;
  align-items: center;
  margin: 2vh;
  width: 90vw;
}
.onglets {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
}
.onglets button {
  height: 100%;
  width: 29vw;
  margin: 0;
  border-radius: 0;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cursor1, .cursor2, .cursor3 {
  height: 100%;
  width: 29vw;
  border-bottom: 2px solid gray;
}
.cursorLine {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  height: 4px;
}
.cartProducts {
  height: 100vh;
  margin: 2vh;
}
.cartPrice {
  height: 20vh;
  width: 100vw;
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-size: contain;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
  background-color: #fff;
  /* background-image: url('../../../public/assets/panier.jpg'); */
}
.cartSecondContainer {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.cartText {
  display: flex;
  flex-direction: column;
}
.cartPrice h2 {
  font-size: 30px;
  color: #0c193a;
}
.cartText p {
  font-size: 12px;
}
.cartButton {
  width: 90%;
  height: 50px;
  background-color: #29b9ad;
  font-size: large;
  border-radius: 5px;
  border: none;
}

.sharedLists {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}
.list {
  display: flex;
  background-color: #fff;
  margin: 2vw;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
.list p {
  margin: 0 2vw;
  font-size: 14px;
}
.list p span {
  font-weight: 900;
}
.list h4 {
  margin: 0 2vw;
}
.titleList {
  display: flex;
  background-color: #fff;
  margin: 2vw 2vw 0 2vw;
  width: 90vw;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
.titleList p {
  margin: 0 2vw;
  font-size: 14px;
}
.titleList p span {
  font-weight: 900;
}

.myList {
  display: flex;
  background-color: #56dbd0;
  margin: 2vw;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
.myList p {
  margin: 0 2vw;
  font-size: 14px;
}
.myList p span {
  font-weight: 900;
}
.myList h4 {
  margin: 0 2vw;
}
.myLists {
  font-weight: 700;
  width: 90vw;
  margin: auto;
  color: #0c193a;
}
.otherLists {
  color: #505971;
  font-weight: 700;
  width: 90vw;
  margin: auto;
  border-top: 1px solid grey;
  padding-top: 2vh;
}
.noList {
  margin: 1vw 2vw 3vw 2vw;
  font-style: italic;
}

.footer {
  background-image: url('../../../public/assets/footer.jpg');
  background-size: contain;
  width: 100vw;
  height: 16vh;
  position: absolute;
  bottom: 0;
}