.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  background-image: url('../../../public/assets/header-deco.jpg');
  height: 17.7vh;
  width: 100vw;
  background-size: contain;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
}
.continuer {
  width: 90vw;
}
.onglets {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
}
.onglets button {
  height: 100%;
  margin: 0;
  border-radius: 0;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ongletActif {
  border-bottom: 4px solid #0c193a;
}
.cursorLine {
  display: flex;
  justify-content: space-evenly;
  height: 4px;
}
.cursor1 {
  background-color: #0c193a;
  /* border: none; */
  height: 4px;
}

.cartProducts {
  height: 100vh;
  margin: 2vh;
}
.cartPrice {
  height: 20vh;
  width: 100vw;
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  background-size: contain;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
  background-image: url('../../../public/assets/panier.jpg');
}